define host {
    use                 linux-server
    host_name           kubernetes-control-plane
    alias               Kubernetes Control Plane
    address             10.0.1.78
}

define host {
    use                 linux-server
    host_name           kubernetes-worker
    alias               Kubernetes Worker
    address             10.0.1.126
}
